.image-resizer {
  position: absolute;
  background-color: var(--resizer-color);
  border: 1px solid #fff;
}

.image-resizer-n,
.image-resizer-s {
  width: 12px;
  height: 6px;
  background-color: var(--resizer-color);
  border-radius: 2px;
  cursor: ns-resize;
}

.image-resizer-n {
  top: -4px;
  left: 48%;
  transform: translateX(-50%);
}

.image-resizer-s {
  bottom: -4px;
  left: 48%;
  transform: translateX(-50%);
}

.image-resizer-e,
.image-resizer-w {
  width: 6px;
  height: 12px;
  background-color: var(--resizer-color);
  border-radius: 2px;
  cursor: ew-resize;
}

.image-resizer-e {
  right: -4px;
  top: 48%;
  transform: translateY(-50%);
}

.image-resizer-w {
  left: -4px;
  top: 48%;
  transform: translateY(-50%);
}

.image-resizer-ne,
.image-resizer-nw,
.image-resizer-se,
.image-resizer-sw {
  width: 8px;
  height: 8px;
  background-color: var(--resizer-color);
  border-radius: 50%;
}

.image-resizer-ne {
  top: -4px;
  right: -4px;
  cursor: nesw-resize;
}

.image-resizer-nw {
  top: -4px;
  left: -4px;
  cursor: nwse-resize;
}

.image-resizer-se {
  bottom: -4px;
  right: -4px;
  cursor: nwse-resize;
}

.image-resizer-sw {
  bottom: -4px;
  left: -4px;
  cursor: nesw-resize;
}

.image-control-wrapper--resizing {
  touch-action: none;
}

.image-container {
  max-width: 100%;

  --resizer-color: rgba(59, 130, 246, 0.8);
}

.image-container img:not([style]) {
  max-width: 100%;
  height: auto;
  border: 2px rgba(0, 0, 0, 0.5) solid;
  position: relative;
}

.image-container:has(img:not([style]))::after {
  content: 'Full width image';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 0.25rem;
}

.image-resizer-wrapper {
  display: none;
}

.image-container:hover .image-resizer-wrapper {
  display: block !important;
}
