<p>Xin chào <%= @resource.email %>!</p>

<p>Có người đã yêu cầu liên kết để thay đổi mật khẩu của bạn. Bạn có thể thực hiện điều này thông qua liên kết bên dưới.</p>

<% link = @resource.is_a?(User) ? "#{ENV.fetch('FRONTEND_URL', 'http://localhost:3000')}/dat-lai-mat-khau?token=#{@token}" : edit_admin_password_url(reset_password_token: @token) %>
<p><%= link_to 'Đặt lại mật khẩu của tôi', link %></p>

<p>Nếu bạn không yêu cầu điều này, vui lòng bỏ qua email này.</p>
<p>Mật khẩu của bạn sẽ không thay đổi cho đến khi bạn truy cập vào liên kết trên và tạo mật khẩu mới.</p>
